.admin {
  .single {
    margin: 0;

    .fas {
      color: $deleteIcon;
      text-shadow: 0 1px #000;
    }

    .title {
      width: 65%;
    }

    .answered {
      font-weight: 700;
      font-style: italic;
      font-size: 0.8rem;
      color: $tipsHeaderBackground;
    }

    .data {
      display: flex;
      justify-content: flex-end;
      width: 35%;

      p {
        margin-left: 1rem;
      }
    }
  }

  &__header {

    li {

      &:first-of-type {
        width: 25%;
      }

      &:nth-of-type(2) {
        width: 23%;
      }

      &:nth-of-type(3) {
        width: 27%
      }

      &:last-of-type {
        width: 10%;
      }
    }

  }

  &__description {
    width: 100%;


    &__photo {
      height: 10rem;
      width: 10rem;
      object-fit: cover;
    }

    &__text {
      margin: 0 2rem;
      line-height: 1.3rem;
      width: 70%;

      &__gender {
        font-weight: 500;
        margin: 1rem 0;
        span {
          font-weight: 800;
          margin-bottom: 1rem;
        }
      }
    }
  }

  &__email {
    width: 30%;
  }

  &__login {
    width: 30%;
  }

  &__date {
    width: 30%;
  }

  &__role {
    width: 10%;
  }

  &__single {
    margin-bottom: 1rem;
    border-bottom: 0.2rem solid $searchButton;
  }

  &__name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }

  &__tag {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 90%;
    }
  }

  &__single__tip {
    h2 {
      margin: 0.5rem 0;
      text-align: center;
    }
  }

  &__add {

    &__title {
      h2 {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
    }

    &__main {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-left: 1rem;

      p {
        width: 100%;
        margin-bottom: 2rem;
        font-weight: 600;
      }

      input {
        width: 90%;
        font-family: $font-base;
        opacity: 0.7;
        border-left: none;
        border-right: none;
        border-top: none;
        margin-bottom: 1rem;
        padding: 0.5rem;
      }

      label {
        margin: 1rem 0;
        font-weight: 600;
      }

      &__details {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__title {
          display: flex;

          input {
            width: 80%;
          }

          &__id {
            width: 10%;
            height: 2.5rem;
            opacity: 0.5;
            display: flex;
            justify-content: center;
            align-items: center;
          }

        }

        textarea {
          opacity: 0.7;
          padding: 0.5rem;
          font-family: $font-base;
          width: 90%;
          height: 10rem;
          resize: none;
        }
      }

      &__photo {
        width: 100%;

        input[type=file] {
          color: white;
          margin-left: 1rem;
          margin-bottom: -2rem;
          margin-top: -1.5rem;
          width: 20%;
          vertical-align: text-top;
        }

        span {
          font-size: 0.8rem;
          margin-right: 2rem;
          margin-top: 0.8rem;
          text-align: right;
          margin-left: 1rem;
        }
      }

      &__photodetails {
        display: flex;
        flex-direction: column;
        width: 100%;

        span {
          margin-bottom: 0.5rem;
        }
      }

      &__tags {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__add {
          display: flex;
          justify-content: space-between;
          margin: 0 4rem;
          align-items: center;

          input {
            width: 50%;
          }

          button {
            width: 5rem;
          }
        }

        &__show {
          display: flex;
          justify-content: space-between;

          i {
            color: $deleteIcon;
            cursor: pointer;
            vertical-align: sub;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-right: 1rem;
          }

          input {
            width: 70%;
            margin: 0.5rem 1rem 1rem 0;
          }
        }
      }

      &__test {
        width: 100%;

        &__answers {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1rem;
          border-bottom: 0.1rem solid $searchButton;

          &__single {
            display: flex;
            width: 70%;

            span {
              padding-top: 0.5rem;
            }

            &__photo {
              display: flex;
              width: 70%;
              justify-content: center;
              align-items: center;

              span {
                width: 40%;
                margin-bottom: 1rem;
                font-size: 0.8rem;
              }

              input {
                width: 50%;
                margin-bottom: 0.5rem;
              }
            }
          }
        }
      }
    }
  }

  &__tips__edit {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      width: 90%;
      font-family: $font-base;
      opacity: 0.7;
      border-left: none;
      border-right: none;
      border-top: none;
      margin-bottom: 1rem;
      padding: 0.5rem;
    }

    textarea {
      opacity: 0.7;
      padding: 0.5rem;
      font-family: $font-base;
      width: 90%;
      height: 20rem;
      resize: none;
    }

    label {
      margin: 1rem 0;
      font-weight: 600;
    }

    &__title {
      width: 90%;
      display: flex;
      flex-direction: column;
    }

    &__description {
      width: 90%;
      display: flex;
      flex-direction: column;

      &__photo {

        i {
          color: $deleteIcon;
        }
      }

      &__tags {

        padding: 1rem 0;
        &__add {
          display: flex;

        }

        &__show {
          height: 100%;

          ul {
            margin: 1rem 0;
            display: flex;
            align-items: center;;
            width: 95%;
            height: 2.5rem;
            background-color: $disabled;
            cursor: auto;

            li {
              margin: 1rem 0.5rem 1rem 0;
              opacity: 0.5;
              cursor: pointer;

              &:first-of-type {
                margin-left: 1rem
              }

              &:hover {
                text-decoration: line-through;
                color: $deleteIcon;
              }
            }
          }
        }
      }
    }

    button {
     width: 5rem;
    }
  }
}

.loading {
  margin-top: 1rem;
}

.admin__single {
  display: flex;
  flex-direction: column;
  align-items: center;

  textarea {
    opacity: 0.7;
    margin-left: 0;
    padding: 0.5rem;
    font-family: $font-base;
    width: 85%;
    height: 10rem;
    resize: none;
    overflow: hidden;
  }

  .fas {
    color: $deleteIcon;
    text-shadow: 0 1px #000;
  }

  .data {
    display: flex;
    justify-content: space-around;
    width: 40%;

    p {
      margin-left: 1rem;

      i {
        margin: 2rem 0;
        cursor: pointer;
      }
    }
  }
}

.loading {
  margin-top: 1rem;
}

.admin__editing {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__data {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    input {
      width: 100%;
      height: 2rem;
      margin: 1rem 0;
      padding: 0.5rem;
      font-family: $font-base;
      opacity: 0.7;
      border-left: none;
      border-right: none;
      border-top: none;
    }
  }

  &__photo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 40%;
    input {
      width: 5rem;
    }
  }

  &__text {
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  textarea {
    width: 90%;
    margin: 1rem auto;
    opacity: 0.7;
    padding: 0.5rem;
    font-family: $font-base;
    height: 5rem;
    resize: none;
  }
}