.profile {
  display: flex;

  @include phone {
    flex-direction: column;
    align-items: center;
  }

  input {
    font-family: $font-base;
    opacity: 0.7;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 80%;
  }

  input[type=file] {
    color: white;
  }

  .label {
    font-size: 1.1rem;
    font-weight: 700;
  }

  &__photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    width: 50%;

    @include phone {
      width: 90%;
      align-items: center;
    }

    &__square {
      width: 10rem;
      height: 10rem;
      background-color: $forumMenu;
      border: 0.15rem solid $mainTextColor;

      @include phone {
        width: 15rem;
        height: 15rem;

      }

      &__image {
        object-fit: cover;
        width: 10rem;
        height: 10rem;
        object-position: 50% 0;

        @include phone {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__form {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;

      i {
        color: $headerButtonBackground;
      }

      p {
        font-size: 0.8rem;
        line-height: 1rem;
      }

      span {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        font-style: italic;
      }
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 1rem;

    @include phone {
      width: 100%;
    }

    &__login {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;

      @include phone {
        margin: 0 auto;
        width: 80%;
      }

      input {
        margin: 1rem 0;
        padding: 0.5rem;
      }
    }

    &__email {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;

      @include phone {
        margin: 0 auto;
        width: 80%;
      }

      input {
        margin: 1rem 0;
        padding: 0.5rem;
      }
    }

    &__gender {
      display: flex;
      flex-direction: column;

      @include phone {
        margin: 0 auto;
        width: 80%;
      }

      label {
        margin: 1.2rem 2rem;
      }
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  span {
    margin: 0 5%;
  }

  textarea {
    margin: 1rem auto;
    opacity: 0.7;
    padding: 0.5rem;
    font-family: $font-base;
    width: 90%;
    height: 5rem;
    resize: none;

    @include phone {
      height: 15rem;
    }
  }
}

.save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-file-input {
  &::-webkit-file-upload-button {
    visibility: hidden;
    color: white;
  }
  &::before {
    margin: 1rem 0;
    content: 'Select a photo';
    display: inline-block;
    background: $headerButtonBackground;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
  }

  &:hover::before {
    border-color: black;
  }

  &:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
}

.spinner {
  text-align: center;
  margin-bottom: 1rem;

  & > div {
    width: 1.1rem;
    height: 1.1rem;
    background-color: $tipsMenu;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}