$headerButtonBackground: #5238A7;
$tipsHeaderBackground: #237b76;
$headerTextColor: #CAAAD2;
$tipsBackground: #a9a9a9;
$searchButton: #919191;
$mainTextColor: #000000;
$altTextColor: #FFFFFF;
$tipsMenu: #663FB6;
$forumMenu: #D0C4E8;
$searchInput: #E6E6E6;