.buttons {
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  font-family: $font-base;
  color: $headerTextColor;
  background: $headerButtonBackground;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
}

.buttons__small {
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 1rem;
  font-family: $font-base;
  color: $headerTextColor;
  background: $headerButtonBackground;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: opacity .15s ease-in-out;

  &:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

.buttons__big {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: $font-base;
  color: $mainTextColor;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: opacity .15s ease-in-out;

  i {
    vertical-align: sub;
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }

  &:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

.error__icon {
  color: red;
  width: 20px;
  vertical-align: sub;
}

.error__class {
  font-size: 1rem;
  pointer-events: auto;
  line-height: 1.5rem;

  &:hover {
    visibility: visible;
    opacity: 1;
  }
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-weight: 500;
  padding: 1rem;
  background-color: $tipsHeaderBackground;
  color: $altTextColor;
  margin-bottom: 1rem;
}

.radio {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;

  input[type=radio]{
    position: absolute;
    visibility: hidden;

    &:checked ~ .check {
      border: 3px solid $tipsMenu;
      cursor: pointer;
    }

    &:checked ~ .check::before{
      background: $tipsMenu;
    }

    &:checked ~ label{
      color: $tipsMenu;
    }
  }

  label{
    margin: 1rem 2rem;
    display: flex;
    position: relative;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }

  &:hover label{
    color: $mainTextColor;
  }

  .check{
    display: block;
    position: absolute;
    border: 3px solid $searchButton;
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
    top: 1rem;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    cursor: pointer;

    &::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 0.5rem;
      width: 0.5rem;
      top: 0.25rem;
      left: 0.25rem;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
    }
  }

  &:hover .check {
    border: 3px solid $mainTextColor;
  }
}

.animation {
  transition: opacity .15s ease-in-out;

  &:hover {
    opacity: 0.5;
    zoom: 1;
    filter: alpha(opacity=50);
  }
}

.animation2 {
  transition: transform .2s;
  z-index: 500;

  &:hover {
    transform: translateX(0.1rem) rotate(5deg);
    z-index: 500;
  }
}